<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" >
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="backGround">
	<p></p>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light ">
			<a class="nav-link white" routerLink="">Home</a> 
			<a class="nav-link white" routerLink="/about">About</a>
			<a class="nav-link white" routerLink="/contact">Contacts</a>
			<a class="nav-link white" routerLink="/gallery">Gallery</a>
		</nav>
	</div>
	<div class="container spacer">
	<router-outlet></router-outlet>
	</div>
</div>



