<!DOCTYPE html>
<html lang="en">
<p></p>
<div>
	<div class="container">
	<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<h5 class="card-header">About</h5>
			<div class="card-body">
				<h5 class="card-title">Informations</h5>
				<ul>
					<li><strong>Nom</strong> : {{information.nom}}</li>
					<li><strong>Prenom</strong> : {{information.prenom}}</li>
					<li><strong>Email</strong> : {{information.email}}</li>
					<li><strong>Tele</strong> :{{information.tele}}</li>
				</ul>
				<form class="form-inline">
							<div class="form-group mx-sm-3 mb-2">
								<label for="inputPassword2" class="sr-only">Password</label>
								<div class="form-row">
									<div class="col">
										<input type="text" class="form-control" name="message" placeholder="Commentaire" [(ngModel)]="commentaire.message">
									</div>
									<div class="col">
										<input type="date" class="form-control" name="date" placeholder="date" [(ngModel)]="commentaire.date">
									</div>
								</div>
							</div>
							<button [disabled]="!commentaire.message"
						class="btn btn-primary mb-2" (click)="AddComment()">Ajouter
						commentaire
					</button>
				</form>
				<h2>Commentaires</h2>
				<div class="panel-body">
					<ul class="list-group">
						<li *ngFor="let c of comments" class="list-group-item">{{c.message}}<span
							class="badge badge-warning">{{c.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span></li>
					</ul>
				</div>
<!-- 				<a href="#" class="btn btn-primary">Go somewhere</a> -->
			</div>
		</div>
	</div>
    </div>
	</div>
</div>